#duc {
    color: slategrey;
    font-size: 60px;
   }
   .duc2 { color:red}
    .duc2{ font-size:45px;}
   h2{ font-size: 40px;   }
   p{ font-size: 27px;}
   img{font: size 100px;px;}
   table{ font-size: 30px;}